@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="container1">
        <h1 class="display-4">Slay the dragon</h1>
        <div class="container-inner">
            <img src="" alt="">
            <input id="input" type="text" placeholder="Mitä haluat tehdä?">
            <button id="nappi">Vastaa</button>
            <p id="output"></p>
        </div>
    </div>

</div>

