@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="chart-container">
    <svg width="460" height="320"></svg>
</section>
<script src="https://d3js.org/d3.v5.min.js"></script>
