@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="text-center d-flex align-items-center justify-content-center vh-50">
                <div class="container1" style="margin-top:10%;">
                    <h1 class="display-4">Slay the Dragon</h1>
                    <div class="container-inner">
                        <img src="" alt="">
                        <input id="input" type="text" placeholder="Mitä haluat tehdä?">
                        <button id="nappi">Vastaa</button>
                        <p id="output"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 d-lg-block d-none">
            <!-- Guide Div -->
            <div class="guide text-white" style="margin-top:20%;">
                <h2>Pelin Ohjeet</h2>
                <p>Tervetuloa "Slay the Dragon" -maailmaan! Tässä pelissä aloitat eeppisen seikkailun voittaaksesi pelottavan lohikäärmeen, joka uhkaa maata.</p>
                <p>Tavoitteesi on vuorovaikuttaa peliin kirjoittamalla komennot yllä olevaan syötekenttään ja painamalla "Vastaa" -painiketta. Tässä joitain esimerkkikomentoja, joilla voit aloittaa:</p>
                <ul>
                    <li>Liiku pelissä kompassisuuntien avulla: pohjoinen = ylös, länsi = vasemmalle, itä = oikealle, etelä = alas.</li>
                    <li>Voit poimia esineitä komennolla "poimi" ja esineen nimi. Esimerkki: "poimi kivi" (nosta kivi).</li>
                    <li>Voit käyttää esineitä komennolla esine + "käytä". Esimerkki: "käytä huilu" (huilun käyttö).</li>
                    <li>Etsi aseita: Etsi miekka auttamaan sinua lohikäärmeen voittamisessa.</li>
                    <li>Jossain pelissä on koira. Voit yrittää kutsua sitä komennolla "kutsu koira".</li>
                </ul>
                <p>Tunne olosi vapaaksi tutkia ja kokeilla! Onnea matkaasi lohikäärmeen voittamiseen.</p>
            </div>

        </div>
    </div>
</div>


<script src="~/js/site.js" asp-append-version="true"></script>
